:root {
  --color-primary: #f7931a;
  --color-primary-soft: #ffe9d5;
  --color-secundary: #1a9af7;
  --color-secundary-soft: #e7f5ff;
  --color-dark: #201e1c;
  --color-dark-10: #282623;
  --color-dark-20: #757575;
  --color-light: #ffffff;
  --color-light-10: #faf8f7;
  --color-light-20: #bababa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 1.4rem;
  background-color: var(--color-light-10);
}

.container {
  margin: 0 auto;
  padding: 20px 5% 60px;
  text-align: center;
  line-height: 1.6rem;
  min-width: 320px;
  max-width: 900px;
}

h1.title,
h2.title {
  margin: 40px 0 24px;
  line-height: 2.6rem;
  font-size: 2.4rem;
  color: var(--color-dark);
}

h3.title {
  font-weight: 700;
  font-size: 1.8rem;
}

p {
  font-weight: 500;
  line-height: 1.8rem;
  margin: 24px 0 10px;
  color: var(--color-dark-20);
}

header {
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  min-width: 320px;
  margin-bottom: 50px;
}

header .container {
    padding-top: 50px;
    padding-bottom: 0;
}

header img {
    width: 151px;
    height: 24px;
}

header .container h1 {
  color: var(--color-light);
}

header .container p {
  color: var(--color-primary-soft);
  margin-bottom: 24px;
}

header .header--button {
  display: inline-block;
  transform: translateY(50%);
  background-color: var(--color-light-10);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  padding: 18px;
  color: var(--color-dark);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
}

header .header--button span {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 0.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/icons/arrow_down.svg");
}

.bgBitcoin {
  margin: 0 auto;
  height: 20rem;
  width: 20rem;
  background-image: url("./assets/images/bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon {
  height: 12px;
  width: 12px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon.next {
  background-image: url("./assets/icons/next.svg");
}

.icon.prev {
  background-image: url("./assets/icons/prev.svg");
}

.trending-prev, .trending-next {
    cursor: pointer;
    margin: 0 10px;
}

.trending-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-container {
  text-align: left;
  width: 320px;
}

.grid-container .title {
  padding: 12px;
}

.grid-container.bitcoin .title {
  color: var(--color-primary);
}

.grid {
  font-family: "Inter";
  font-size: 1.6rem;
  font-weight: 500;
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 8px;
  gap: 1px;
  overflow: hidden;
}

.grid .item {
  color: var(--color-light-20);
  background-color: var(--color-light);
  padding: 12px;
}

.grid .item.value {
  color: var(--color-dark-20);
  text-align: right;
}

.grid .trending {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 1rem;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid .trending.up {
  background-image: url("./assets/icons/trending-up.svg");
}

.grid .trending.down {
  background-image: url("./assets/icons/trending-down.svg");
}

.grid-container.bitcoin .updated {
    background-color: var(--color-primary-soft);
    padding: 8px;
    border-radius: 8px;
    font-size: 1.2rem;
    width: fit-content;
    margin: 16px auto
}


.container.benefits{
    background-color: var(--color-dark);
}


.container.benefits h2, .container.benefits h3 {
    color: var(--color-light);
}

.container.benefits .section{
    text-align: left;
    padding: 16px;
    margin-bottom: 16px;
    background-color: var(--color-dark-10);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}

.container.benefits p {
    margin: 24px 0 30px;
}

.container.benefits .section span {
    width:24px;
    height:24px;
    margin-bottom: 10px;
    display:block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container.benefits .clock {
    background-image: url("./assets/icons/clock.svg");
}

.container.benefits .eye {
    background-image: url("./assets/icons/eye.svg");
}

.container.benefits .dollar {
    background-image: url("./assets/icons/dollar-sign.svg");
}

.container.benefits .check {
    background-image: url("./assets/icons/check-circle.svg");
}