:root {
  --color-primary: #f7931a;
  --color-primary-soft: #ffe9d5;
  --color-secundary: #1a9af7;
  --color-secundary-soft: #e7f5ff;
  --color-dark: #201e1c;
  --color-dark-10: #282623;
  --color-dark-20: #757575;
  --color-light: #ffffff;
  --color-light-10: #faf8f7;
  --color-light-20: #bababa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  background-color: var(--color-light-10);
}

body {
    font-size: 1.4rem;
}

.container {
    width: 85%;
    margin: 40px auto;
    text-align: center;
  }

.title {
    line-height: 2.6rem;
    font-size: 2.4rem;
    color: var(--color-dark);
}

.description {
    font-weight: 500;
    line-height: 1.8rem;
    margin: 24px 0 0;
    color: var(--color-dark-20);
}

header {
    width: 100%;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  }

header img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 60px;
}


header .container h1 {
  color: var(--color-light);
}

header .container p {
  color: var(--color-primary-soft);
}

header .header--button {
  display: inline-block;
  transform: translateY(50%);
  background-color: var(--color-light-10);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  padding: 18px;
  color: var(--color-dark);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
}

header .header--button span {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 0.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./assets/icons/arrow_down.svg");
}



.bgBitcoin {
    margin: 60px auto;
    height:200px;
    width:200px;
    background-image: url("./assets/images/bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    width:100%;
}